[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "==2.8.0"
requests = "==2.22.0"

[dev-packages]
httpretty = "==0.9.6"
pylint = "*"

[requires]
python_version = "3.7"
